@model Paise
<div class="text-center">
    <h1 class="display-4">Gestión de paises</h1>
</div>

<main class="mt-2 container">
    <div>
        <div class="row justify-content-between">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarModal">
                    Agregar Pais
                </button>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="filtro_pais">Filto país</label>
                    <select id="filtro_pais" class="form-select form-control" aria-label="Default select example">
                        <option value="0">Todos</option>
                        @foreach (Paise pais in ViewBag.Paises)
                        {
                            <option value="@pais.Nombre">@pais.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            
        </div>
        <div class="mt-3 row">
            <div class="col-12">
                <table id="tabla_acuerdos" class="table table-responsive table-bordered table-striped table-primary table-hover" id="contractsTable">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>IsoAlpha2</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach (Paise pais in ViewBag.Paises)
                        {
                            <tr>
                                <td>@pais.Id</td>
                                <td>@pais.Nombre</td>
                                <td>@pais.Isocode</td>
                                <td></td>
                            </tr>
                        }

                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="agregarModal" aria-labelledby="agregarModalLabel" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar Pais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                       <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="Nombre" />
                       </div>
                    </div>
                    <div class="row mt-3">
                        <div>
                            <label for="isocode">IsoAlpha2</label>
                            <input type="text" class="form-control" id="isocode" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar <i class="fas fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="guardarPais()">
                        Guardar <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Editar Modal -->
    <div class="modal fade" id="editarPaisModal" tabindex="-1" aria-labelledby="agregarPaisModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Pais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="editar_nombre">Nombre</label>
                                <input type="text" class="form-control" id="editar_nombre" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <!-- Isocode -->
                            <div class="form-group">
                                <label for="editar_isocode">Isocode</label>
                                <input type="text" class="form-control" id="editar_isocode" placeholder="Isocode">
                            </div>
                        </div>

                       
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="editar_id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar <i class="fas fa-times"></i>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="guardarEditarPais()">
                        Guardar <i class="fas fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*Ver*@
    <!-- Editar Modal -->
    <div class="modal fade" id="mostrarPaisModal" tabindex="-1" aria-labelledby="agregarPaisModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mostrar país</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="mostrar_nombre">Nombre</label>
                                <input type="text" class="form-control" id="mostrar_nombre" placeholder="Nombre" readonly>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <!-- Isocode -->
                            <div class="form-group">
                                <label for="mostrar_isocode">Isocode</label>
                                <input type="text" class="form-control" id="mostrar_isocode" placeholder="Isocode" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





   
</main>

@section Scripts {

    <script>
        const tabla_acuerdos = $("#tabla_acuerdos").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            "responsive": true,
            "dom": 'Bfrtip',
            initComplete: function () {

                // Clonet thead on tfoot datatable
                $("#tabla_acuerdos thead tr").clone().appendTo($("#tabla_acuerdos tfoot"));
            },
            columns: [
                { title: "ID", visible: false},
                { title: "Nombre" },
                { title: "Isocode"},
                {
                    title: "Acciones",
                    
                    render: function (data, type, row) {
                        @* <button class="btn btn-danger" onclick='borrarPais(${row[0]})'>
                                <i class="fas fa-trash"></i>
                            </button> *@
                        return `
                            <button class="btn btn-info" onclick='verPais(${row[0]})'>
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-warning" onclick='editarPais(${row[0]})'>
                                <i class="fas fa-edit"></i>
                            </button>
                            
                        `;
                    }
                }
            ]
        });
    </script>

    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <script>

                function borrarPais (idPais) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, borrar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/Pais/eliminar/${idPais}`,
                        type: "DELETE",
                        success: function (response) {
                            console.log(response);
                            Swal.fire(
                                '¡Borrado!',
                                'El pais ha sido borrado.',
                                'success'
                            )
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            })

        }
        //-----------------------------------------------------------------
        @* Funciones CRUDS *@
            function guardarPais() {
                const data = {
                    Nombre: $("#Nombre").val(),
                    Isocode: $("#isocode").val(),
                }
                if (data.Isocode.length != 2) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'El isocode debe tener 2 caracteres',
                    })
                    return;
                }
                if (data.nombre == "" || data.isocode == "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Todos los campos son obligatorios',
                    })
                    return;
                }

                $.ajax({
                    url: "/Pais",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        console.log(response);
                        Swal.fire(
                            'Guardado!',
                            'El acuerdo se ha guardado correctamente',
                            'success'
                        )
                        $("#agregarPaisModal").modal("hide");
                        $("#Nombre").val("");
                        $("#isocode").val("").trigger("change");
                        setTimeout(() => {
                            location.reload();
                        }, 1000);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
            //-----------------------------------------------------------------
        function editarPais(idPais) {

            $.ajax({
                url: `/Pais/obtener/${idPais}`,
                type: "GET",
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    console.log(response);
                    $("#editar_nombre").val(response.nombre);
                    $("#editar_isocode").val(response.isocode).trigger("change");
                    $("#editar_id").val(response.id);
                },
                error: function (error) {
                    console.log(error);
                }
            });

            const editar_modal = document.getElementById("editarPaisModal");
            const editarModal = new bootstrap.Modal(editar_modal);
            editarModal.show();
        }

        function guardarEditarPais() {
            const data = {
                Nombre: $("#editar_nombre").val(),
                Isocode: $("#editar_isocode").val(),
            }
            const idPais = $("#editar_id").val();
            console.log(data)
            if (data.Nombre == null || data.Isocode == null) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Todos los campos son obligatorios',
                })
                return;
            }
            if (data.nombre == "" || data.isocode == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Todos los campos son obligatorios',
                })
                return;
            }

            $.ajax({
                url: `/Pais/Editar/${idPais}`,
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    console.log(response);
                    Swal.fire(
                        'Guardado!',
                        'El país se ha guardado correctamente',
                        'success'
                    )
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);
                },
                error: function (error) {
                    console.log(error);
                }
            })

        }
        //-------------------------------------------------------------
        function verPais(idPais) {

            $.ajax({
                url: `/Pais/obtener/${idPais}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    $("#mostrar_nombre").val(response.nombre);
                    $("#mostrar_isocode").val(response.tipo).trigger("change");
                },
                error: function (error) {
                    console.log(error);
                }
            })


            const mostrar_modal = document.getElementById("mostrarPaisModal");
            const mostrarModal = new bootstrap.Modal(mostrar_modal);
            mostrarModal.show();
        }
        
    </script>
}