@model Acuerdo
<div class="text-center">
    <h1 class="display-4">Acuerdos</h1>
</div>

<main class="mt-2 container">
    <div>
        <div class="row justify-content-between">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarAcuerdoModal">
                    Agregar acuerdo
                </button>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="filtro_pais">Filto país</label>
                    <select id="filtro_pais" class="form-select form-control" aria-label="Default select example">
                        <option value="0">Todos</option>
                        @foreach (Paise pais in ViewBag.Paises)
                        {
                            <option value="@pais.Nombre">@pais.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="filtro_contrato">Filto contrato</label>
                    <select id="filtro_contrato" class="form-select form-control" aria-label="Default select example">
                        <option value="0">Todos</option>
                        <option value="eventual">Eventual</option>
                        <option value="permanente">Permanente</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-12">
                <table id="tabla_acuerdos" class="table table-responsive table-bordered table-striped table-primary table-hover" id="contractsTable">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre acuerdo</th>
                            <th>Tipo</th>
                            <th>Pais</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach (Acuerdo acuerdo in ViewBag.Acuerdos)
                        {
                            <tr>
                                <td>@acuerdo.Id</td>
                                <td>@acuerdo.Nombre</td>
                                <td>@acuerdo.Tipo</td>
                                <td>@acuerdo.Pais.Nombre</td>
                                <td></td>
                            </tr>
                        }

                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="agregarAcuerdoModal" aria-labelledby="agregarAcuerdoModallabel" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar Acuerdo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="Nombre">Nombre</label>
                                <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <!-- Fecha de nacimiento -->
                            <div class="form-group">
                                <label for="tipo">Tipo de acuerdo</label>
                                <select id="tipo" class="form-control">
                                    <option value="eventual">Eventual</option>
                                    <option value="permanente">Permanente</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-5 col-md-4">
                            <!-- Fecha de nacimiento -->
                            <div class="form-group">
                                <label for="pais">País</label>
                                <select id="pais" class="form-select form-control" aria-label="Default select example">
                                    @{
                                        int contador = 0;
                                    }
                                    @foreach (Paise pais in ViewBag.Paises) {
                                        @if (contador == 0) {
                                            <option value="@pais.Id" selected>@pais.Nombre</option>
                                        } else {
                                            <option value="@pais.Id">@pais.Nombre</option>
                                        }
                                        contador++;
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <!-- Nombre -->
                            <div class="form-group">
                                <textarea id="editor" name="contenido"></textarea>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Editar Modal -->
    <div class="modal fade" id="editarAcuerdoModal" tabindex="-1" aria-labelledby="agregarAcuerdoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Acuerdo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="editar_nombre">Nombre</label>
                                <input type="text" class="form-control" id="editar_nombre" placeholder="Nombre">
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <!-- Fecha de nacimiento -->
                            <div class="form-group">
                                <label for="editar_tipo">Tipo de acuerdo</label>
                                <select id="editar_tipo">
                                    <option value="eventual">Eventual</option>
                                    <option value="permanente">Permanente</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-5 col-md-4">
                            <!-- Fecha de nacimiento -->
                            <div class="form-group">
                                <label for="editar_pais">País</label>
                                <select id="editar_pais" class="form-select form-control" aria-label="Default select example">
                                    @{
                                        int contador2 = 0;
                                    }
                                    @foreach (Paise pais in ViewBag.Paises) {
                                        @if (contador2 == 0) {
                                            <option value="@pais.Id" selected>@pais.Nombre</option>
                                        } else {
                                            <option value="@pais.Id">@pais.Nombre</option>
                                        }
                                        contador2++;
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <!-- Nombre -->
                            <div class="form-group">
                                <textarea id="editar_editor" name="contenido"></textarea>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Editar Modal -->
    <div class="modal fade" id="mostrarAcuerdoModal" tabindex="-1" aria-labelledby="agregarAcuerdoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mostrar acuerdo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="mostrar_nombre">Nombre</label>
                                <input type="text" class="form-control" id="mostrar_nombre" placeholder="Nombre" readonly>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <!-- Fecha de nacimiento -->
                            <div class="form-group">
                                <label for="mostrar_tipo">Tipo de acuerdo</label>
                                <select id="mostrar_tipo" class="form-control" readonly>
                                    <option value="eventual">Eventual</option>
                                    <option value="permanente">Permanente</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-5 col-md-4">
                            <!-- Fecha de nacimiento -->
                            <div class="form-group">
                                <label for="pais">País</label>
                                <input type="text" class="form-control" id="mostrar_pais" placeholder="País" readonly>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <!-- Nombre -->
                            <div class="form-group">
                                <textarea id="mostrar_editor" name="contenido" readonly></textarea>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</main>

@section Scripts {

    <script>
        const tabla_acuerdos = $("#tabla_acuerdos").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            "responsive": true,
            "dom": 'Bfrtip',
            initComplete: function () {

                // Clonet thead on tfoot datatable
                $("#tabla_acuerdos thead tr").clone().appendTo($("#tabla_acuerdos tfoot"));
            },
            columns: [
                { name: "ID", visible: false},
                { name: "Nombre" },
                { name: "Tipo" },
                { name: "Pais" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `
                            <button class="btn btn-info" onclick='verAcuerdo(${row.ID})'>
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-warning" onclick='editarAcuerdo(${row.ID})'>
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" onclick='borrarAcuerdo(${row.ID})'>
                                <i class="fas fa-trash"></i>
                            </button>
                        `;
                    }
                }
            ]
        });
    </script>

    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <script>

        // Select2
        $("#pais, #tipo, #editar_tipo, #editar_pais, #mostrar_tipo, #mostrar_pais").select2({
            width: "100%",
            dropdownParent: $('#agregarAcuerdoModal')
        });

        $("#editar_tipo, #editar_pais").select2({
            width: "100%",
            dropdownParent: $('#editarAcuerdoModal')
        });

        $("#filtro_pais").select2({});
        $("#filtro_contrato").select2({});


        const editor = ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );

        const editar_editor = ClassicEditor
        .create( document.querySelector( '#editar_editor' ) )
        .catch( error => {
            console.error( error );
        } );

        const mostrar_editor = ClassicEditor
        .create( document.querySelector( '#mostrar_editor' ) )
        .catch( error => {
            console.error( error );
        } );


        function borrarAcuerdo (idAcuerdo) {
            alert("borrar acuerdo " + idAcuerdo);
            // Logica para borrar acuerdo

        }

        function editarAcuerdo(idAcuerdo) {
            alert("editar acuerdo " + idAcuerdo);
            // Logica para editar acuerdo

            const editar_modal = document.getElementById("editarAcuerdoModal");
            const editarModal = new bootstrap.Modal(editar_modal);
            editarModal.show();
        }

        function verAcuerdo (idAcuero) {
            alert("ver acuerdo " + idAcuero);
            // Logica para ver acuerdo


            const mostrar_modal = document.getElementById("mostrarAcuerdoModal");
            const mostrarModal = new bootstrap.Modal(mostrar_modal);
            mostrarModal.show();
        }


        @* Filtros *@

        $("#filtro_pais").on("change", function () {
            if(this.value == 0) {
                tabla_acuerdos.column(3).search("").draw();
            } else {
                tabla_acuerdos.column(3).search(this.value).draw();
            }
        });

        $("#filtro_contrato").on("change", function () {
            if(this.value == 0) {
                tabla_acuerdos.column(2).search("").draw();
            } else {
                tabla_acuerdos.column(2).search(this.value).draw();
            }
        });
    </script>
}